backend/target/
test-results/
frontend/.angular/
frontend/coverage/
frontend/dist/
frontend/node_modules/
frontend/test-results/
frontend/playwright-report/
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
